[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-mock = "*"
twisted = "*"

[dev-packages]
pylint = "*"
mypy-lang = "*"
pipenv-to-requirements = "*"
pytest-twisted = "*"

[requires]
python_version = "3.6"
